*{
    margin: 0;
    padding: 0;
}
#div1{
    height: 100px;
    width: 100px;
    left: 0px;
    background: red;
    top:50px;
    position: absolute;
}
#div2{
    height: 500px;
    width: 1px;
    background: black;
    position: absolute;
    left: 300px;
    top:0px;
}